/* For Cards from MYLO HTML 5*/

.tw-fs-14 {
    font-size: 20px;
    font-weight: bold;
}

.fs-addcoins {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.card-gradient-purple {
    background-color: #926afe;
    background-image: linear-gradient(to right, #926afe, #bd9aff);
}

.card-gradient-green {
    background-color: #12b252;
    background-image: linear-gradient(to right, #12b252, #31e97a);
}

.card-gradient-aqua {
    background-color: #009999;
    background-image: linear-gradient(to right, #009999, #00FFFF);
}

.card-gradient-blue {
    background-color: #3e60ff;
    background-image: linear-gradient(to right, #3e60ff, #1E90FF);
}

.card-gradient-limegreen {
    background-color: #00FF00;
}

/* Coin image*/
img {
    max-width: 100%;
}

img.thumbnail {
    width: 40px;
    height: 40px;
}

.tw-info-row {
    max-height: 120px;
    margin-bottom: 1rem;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.tw-info-card {
    margin-bottom: 0px;
}

.tw-info-card-content {
    border-radius: 5px;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.tw-h-80 {
    height: 20rem;
}

.tw-text-2xs {
    font-size: .50rem;
}

.btn-servicesoffer {
    background-color: #1E90FF;
    width: 300px;
    height: 80px;
    color: white;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}
