<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Fedex Economy</title>
  <!-- Iconic Fonts -->
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../static/vendor/iconic-fonts/flat-icons/flaticon.css">
  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery UI -->
  <link href="../static/css/jquery-ui.min.css" rel="stylesheet">
  <!-- mylo styles -->
  <link href="../static/css/styleDB.css" rel="stylesheet">
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="M-favicon.png">
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="../static/css/custom_style.css">
  <!-- Custom Tailwind CSS -->
  <link rel="stylesheet" href="../static/css/custom_tailwind.css">
  
</head>

<body class="ms-body ms-aside-left-open ms-dark-theme ms-has-quickbar">

  <!-- Preloader -->
  <div id="preloader-wrap">
    <div class="spinner spinner-8">
      <div class="ms-circle1 ms-child"></div>
      <div class="ms-circle2 ms-child"></div>
      <div class="ms-circle3 ms-child"></div>
      <div class="ms-circle4 ms-child"></div>
      <div class="ms-circle5 ms-child"></div>
      <div class="ms-circle6 ms-child"></div>
      <div class="ms-circle7 ms-child"></div>
      <div class="ms-circle8 ms-child"></div>
      <div class="ms-circle9 ms-child"></div>
      <div class="ms-circle10 ms-child"></div>
      <div class="ms-circle11 ms-child"></div>
      <div class="ms-circle12 ms-child"></div>
    </div>
  </div>

  <!-- Overlays -->
  <div class="ms-aside-overlay ms-overlay-left ms-toggler" data-target="#ms-side-nav" data-toggle="slideLeft"></div>
  <div class="ms-aside-overlay ms-overlay-right ms-toggler" data-target="#ms-recent-activity" data-toggle="slideRight"></div>

  <!-- Sidebar Navigation Left -->
  <aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left">

    <!-- Logo -->
    <div class="logo-sn ms-d-block-lg tw-ml-10 tw-mt-3">
      <a class="pl-0 ml-0 text-center" href="/index"> <img src="../static/images/main_logo_white.png" alt="logo"> </a>
    </div>

    <!-- Navigation -->
    <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">
        <!-- Dashboard -->
        <li class="menu-item ">
          <a href="/dashboard?user_id={{email}}">
            <spa class="tw-flex tw-items-center tw-text-xl tw-py-2">
              <img src="../static/images/Dashboard.png"/>&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</span>
          </a>
        </li>
        <!-- Wallet -->
        <li class="menu-item">
          <a href="/wallet">
            <span class="tw-flex tw-items-center tw-text-xl tw-py-2">
              <img src="../static/images/Wallet.png"></img>&nbsp;&nbsp;&nbsp;&nbsp;Wallet</span>
          </a>
        </li>
    
        <!-- Services | Offer -->
        <li class="menu-item">
            <a href="/servicesoffer">
              <span class= "tw-flex tw-items-center tw-text-xl tw-py-2">
                <img src="../static/images/Services.png"/>&nbsp;&nbsp;&nbsp;&nbsp;Services | Offer</span>
            </a>
        </li>
        <!-- Shop -->
        <li class="menu-item">
            <a href="/shop?user_id={{email}}">
              <span class="tw-flex tw-items-center tw-text-xl tw-py-2">
                <img src="../static/images/Shop.png"/>&nbsp;&nbsp;&nbsp;&nbsp;Shop</span>
            </a>
        </li>
        <!-- My Business -->
        {% if profile.RegistrationType|string() == 'Business' %}
        <li class="menu-item">
            <a href="/myBusiness">
              <span class="tw-flex tw-items-center tw-text-xl tw-py-2">
                <img src="../static/images/Business.png">&nbsp;&nbsp;&nbsp;&nbsp;MyBusiness
              </span>
              
            </a>
        </li>
        {%endif%}
    </ul>

  </aside>

  <!-- Sidebar Right -->
  <aside id="ms-recent-activity" class="side-nav fixed ms-aside-right ms-scrollable">

  </aside>

  <!-- Main Content -->
  <main class="body-content">

    <!-- Navigation Bar -->
    <nav class="navbar ms-navbar">

      <div class="ms-aside-toggler ms-toggler pl-0" data-target="#ms-side-nav" data-toggle="slideLeft">
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
      </div>

      <div class="logo-sn logo-sm ms-d-block-sm">
        <a class="pl-0 ml-0 text-center navbar-brand mr-0" href="../dashboard/index.html"><img src="https://via.placeholder.com/84x41" alt="logo"> </a>
      </div>

      <ul class="ms-nav-list ms-inline mb-0" id="ms-nav-options">
        <li class="ms-nav-item ms-search-form pb-0 py-0">
          <form class="ms-form" method="post">
            <div class="ms-form-group my-0 mb-0 has-icon fs-14">
              <input type="search" class="ms-form-input" name="search" placeholder="Search here..." value="">
              <i class="flaticon-search text-disabled"></i>
            </div>
          </form>
        </li>
        <li class="ms-nav-item dropdown">
          <a href="#" class="text-disabled ms-has-notification" id="mailDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flaticon-mail"></i></a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="mailDropdown">
            <li class="dropdown-menu-header">
              <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">Mail</span></h6><span class="badge badge-pill badge-success">3 New</span>
            </li>
            <li class="dropdown-divider"></li>
            <li class="ms-scrollable ms-dropdown-list">
              <a class="media p-2" href="#">
                <div class="ms-chat-status ms-status-offline ms-chat-img mr-2 align-self-center">
                  <img src="https://via.placeholder.com/270x270" class="ms-img-round" alt="people">
                </div>
                <div class="media-body">
                  <span>Hey man, looking forward to your new project.</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 30 seconds ago</p>
                </div>
              </a>
              <a class="media p-2" href="#">
                <div class="ms-chat-status ms-status-online ms-chat-img mr-2 align-self-center">
                  <img src="https://via.placeholder.com/270x270" class="ms-img-round" alt="people">
                </div>
                <div class="media-body">
                  <span>Dear John, I was told you bought mylo! Send me your feedback</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 28 minutes ago</p>
                </div>
              </a>
              <a class="media p-2" href="#">
                <div class="ms-chat-status ms-status-offline ms-chat-img mr-2 align-self-center">
                  <img src="https://via.placeholder.com/270x270" class="ms-img-round" alt="people">
                </div>
                <div class="media-body">
                  <span>How many people are we inviting to the dashboard?</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 6 hours ago</p>
                </div>
              </a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-menu-footer text-center">
              <a href="../apps/email.html">Go to Inbox</a>
            </li>
          </ul>
        </li>
        <li class="ms-nav-item dropdown">
          <a href="#" class="text-disabled ms-has-notification" id="notificationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flaticon-bell"></i></a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdown">
            <li class="dropdown-menu-header">
              <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">Notifications</span></h6><span class="badge badge-pill badge-info">4 New</span>
            </li>
            <li class="dropdown-divider"></li>
            <li class="ms-scrollable ms-dropdown-list">
              <a class="media p-2" href="#">
                <div class="media-body">
                  <span>12 ways to improve your crypto dashboard</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 30 seconds ago</p>
                </div>
              </a>
              <a class="media p-2" href="#">
                <div class="media-body">
                  <span>You have newly registered users</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 45 minutes ago</p>
                </div>
              </a>
              <a class="media p-2" href="#">
                <div class="media-body">
                  <span>Your account was logged in from an unauthorized IP</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 2 hours ago</p>
                </div>
              </a>
              <a class="media p-2" href="#">
                <div class="media-body">
                  <span>An application form has been submitted</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 1 day ago</p>
                </div>
              </a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-menu-footer text-center">
              <a href="#">View all Notifications</a>
            </li>
          </ul>
        </li>
        <li class="ms-nav-item">
          <a href="#" class="text-disabled ms-toggler" data-target="#ms-recent-activity" data-toggle="slideRight"><i class="flaticon-menu"></i></a>
        </li>
        <li class="ms-nav-item ms-nav-user dropdown">
          <a href="#"  id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
            <img class="ms-user-img ms-img-round float-right" src="https://via.placeholder.com/270x270" alt="people"> </a>
          <ul class="dropdown-menu dropdown-menu-right user-dropdown" aria-labelledby="userDropdown">
            <li class="dropdown-menu-header">
              <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">{{profile.first_name + ' ' + profile.last_name}}</span></h6>
            </li>
            <li class="dropdown-divider"></li>
            <li class="ms-dropdown-list">
              <a class="media fs-14 p-2" href="/profile?user_id={{email}}"> <span><i class="flaticon-user mr-2"></i> Profile</span> </a>
              <a class="media fs-14 p-2" href="../apps/email.html"> <span><i class="flaticon-mail mr-2"></i> Inbox</span> <span class="badge badge-pill badge-info">3</span> </a>
              <a class="media fs-14 p-2" href="../prebuilt-pages/user-profile.html"> <span><i class="flaticon-gear mr-2"></i> Account Settings</span> </a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-menu-footer">
              <a class="media fs-14 p-2" href="../prebuilt-pages/lock-screen.html"> <span><i class="flaticon-security mr-2"></i> Lock</span> </a>
            </li>
            <li class="dropdown-menu-footer">
              <a class="media fs-14 p-2" href="../prebuilt-pages/default-login.html"> <span><i class="flaticon-shut-down mr-2"></i> Logout</span> </a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="ms-toggler ms-d-block-sm pr-0 ms-nav-toggler" data-toggle="slideDown" data-target="#ms-nav-options">
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
      </div>

    </nav>


    <!-- Body Content Wrapper -->
    <div class="ms-content-wrapper">
      <div class="row tw-mb-4">
        <div class="col-xl-3 col-md-6">
            <div class="tw-info-card-content card-gradient-green">
                <span class="tw-text-base tw-text-xs tw-text-white">FEx COIN Balance</span>
                <span class="tw-flex tw-items-center tw-text-xl tw-py-2 tw-font-black">
                    <img src="../static/images/FEx-coin.png" class="thumbnail tw-mr-2" />
                    &nbsp;{{user_balance}}
                </span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="tw-info-card-content card-gradient-purple">
              <span class="tw-text-base tw-text-xs tw-text-white">Exchange Rate</span>
              <span class="tw-flex tw-items-center tw-text-xl tw-py-2 tw-font-black tw-text-white">
                  <img src="../static/images/FEx-coin.png" class="thumbnail tw-mr-2" />
                  &nbsp;1 = $ 0.12
              </span>
          </div>
      </div>
      <div class="col-xl-3 col-md-6">
          <div class="tw-info-card-content card-gradient-aqua">
              <span class="tw-text-base tw-text-xs tw-text-white">Total Income</span>
              <span class="tw-flex tw-items-center tw-text-xl tw-py-2 tw-font-black tw-text-white">
                  <img src="../static/images/FEx-coin.png" class="thumbnail tw-mr-2" />
                  &nbsp;9,650
              </span>
          </div>
      </div>
        <div class="col-xl-3 col-md-6">
            <div class="tw-flex tw-items-center tw-h-full">
                <div class="card-gradient-limegreen tw-h-full tw-flex tw-items-center tw-p-3 tw-rounded-l">
                    <svg class="svg-inline--fa fa-plus fa-w-8" style="font-size: 48px;color: white;" aria-hidden="true" data-prefix="fa" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                        <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path>
                    </svg>
                </div>
                <div class="card-gradient-blue tw-pl-8 tw-w-full tw-h-full tw-rounded-r tw-flex tw-items-center">
                    <span class="tw-text-2xl tw-text-white tw-font-black tw-text-white">Add <br> FEx Coins</span>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="tw-h-20 tw-w-full background-orange tw-flex tw-pl-5 tw-items-center tw-font-semibold tw-space-x-4"> 
        <img src="../static/images/Business.png" class="tw-h-5 tw-w-5" /> 
        <h class="tw-text-white tw-text-2xl tw-underline">Ann Pizza Corner</h>
    </div>
    <div class="ms-content-wrapper-2 bg-whitesmoke tw-justify-center">
      <table class="table table-hover tw-text-purple-800">
        <thead>
          <tr>
            <th scope="col" class="text-center tw-text-lg">Order #</th>
            <th scope="col" class="text-center tw-text-lg">Order Details</th>
            <th scope="col" class="text-center tw-text-lg">Name & Ph.</th>
            <th scope="col" class="text-center tw-text-lg">Delivery Address</th>
            <th scope="col" class="text-center tw-text-lg">Delivery Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row" class="tw-text-center">Order 064</td>
            <td class="text-center tw-w-48"></td>
            <td class="text-center tw-w-48"></td>
            <td class="text-center tw-w-48"></td>
            <td class="text-center tw-space-x-10">
              <button class="bg-lightblue tw-w-16 tw-h-16 tw-rounded">
                <img src="../static/images/white-drone.png" class="tw-rounded-none tw-mr-0 tw-ml-2 delivery-icons"/>
              </button>
              <button class="bg-darkpurple tw-w-16 tw-h-16 tw-rounded">
                <img src="../static/images/ground_delivery.png" class="tw-rounded-none tw-mr-0 tw-ml-3 delivery-icons"/>
              </button>
            </td>         
          </tr>
          <tr>
            <td scope="row" class="text-center">Order 065</td>
            <td class="text-center tw-w-48"></td>
            <td class="text-center tw-w-48"></td>
            <td class="text-center tw-w-48"></td>
            <td class="text-center tw-space-x-10">
              <button class="bg-lightblue tw-w-16 tw-h-16 tw-rounded">
                <img src="../static/images/white-drone.png" class="tw-rounded-none tw-mr-0 tw-ml-2 delivery-icons"/>
              </button>
              <button class="bg-darkpurple tw-w-16 tw-h-16 tw-rounded">
                <img src="../static/images/ground_delivery.png" class="tw-rounded-none tw-mr-0 tw-ml-3 delivery-icons"/>
              </button>
            </td> 
          </tr>
          <tr>
            <td scope="row" class="text-center">Order 066</td>
            <td class="text-center tw-w-48"></td>
            <td class="text-center tw-w-48"></td>
            <td class="text-center tw-w-48"></td>
            <td class="text-center tw-space-x-10">
              <button class="bg-lightblue tw-w-16 tw-h-16 tw-rounded">
                <img src="../static/images/white-drone.png" class="tw-rounded-none tw-mr-0 tw-ml-2 delivery-icons"/>
              </button>
              <button class="bg-darkpurple tw-w-16 tw-h-16 tw-rounded">
                <img src="../static/images/ground_delivery.png" class="tw-rounded-none tw-mr-0 tw-ml-3 delivery-icons"/>
              </button>
            </td>
          </tr>
          <tr>
            <td scope="row" class="text-center">Order 067</td>
            <td class="text-center tw-w-48">
            </td>
            <td class="text-center tw-w-48"></td>
            <td class="text-center tw-w-48"></td>
            <td class="text-center tw-space-x-10">
              <button class="bg-lightblue tw-w-16 tw-h-16 tw-rounded">
                <img src="../static/images/white-drone.png" class="tw-rounded-none tw-mr-0 tw-ml-2 delivery-icons"/>
              </button>
              <button class="bg-darkpurple tw-w-16 tw-h-16 tw-rounded">
                <img src="../static/images/ground_delivery.png" class="tw-rounded-none tw-mr-0 tw-ml-3 delivery-icons"/>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div> 
  </main>
  <!-- SCRIPTS -->
  <!-- Global Required Scripts Start -->
  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/perfect-scrollbar.js"> </script>
  <script src="../static/js/jquery-ui.min.js"> </script>
  <!-- Global Required Scripts End -->

  <!-- Page Specific Scripts Start -->
  <script src="../static/js/Chart.bundle.min.js"> </script>
  <script src="../static/js/project-management.js"> </script>
  <!-- Page Specific Scripts Finish -->

  <!-- mylo core JavaScript -->
  <script src="../static/js/framework.js"></script>

  <!-- Settings -->
  <script src="../static/js/settings.js"></script>

</body>

</html>