<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Fedex Economy</title>
  <!-- Iconic Fonts -->
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../static/vendor/iconic-fonts/flat-icons/flaticon.css">
  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery UI -->
  <link href="../static/css/jquery-ui.min.css" rel="stylesheet">
  <!-- mylo styles -->
  <link href="../static/css/styleDB.css" rel="stylesheet">
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="M-favicon.png">
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="../static/css/custom_style.css">
  <!-- Custom Tailwind CSS -->
  <link rel="stylesheet" href="../static/css/custom_tailwind.css">
  
  <script>
    function updateDroneOrder(){
    
            var order = "{{order}}"
            order = JSON.parse(order)
            // pay drone
            // const drone_id = "1"
            // var payrq = new XMLHttpRequest();
            // req = "{{sc}}pay?sender={{email}}&receiver="+ drone_id +"&amount={{price}}"
            // payrq.open("GET", req, true);
            // payrq.send();
    
            //add/update order
    
    //         order_example = {'supplier': '123abc',
    // 'customer': '456xyz',
    // 'payment_method': 'tokens',
    // 'price': 100,
    // 'delivery_provider': 'Drone', // will it
    // 'order_details': 'description:charge the drone to 100%,shipment_weight:3',
    // 'delivery_address':'3600 Lancaster avenue, Philadelphia, 19104',
    // 'terms_and_conditions': 'must not harm drone',
    // 'status': 'complete',
    // 'status_date': '08/05/2020'
    // }
    
            // var order = "{'order_id' : '1' , 'supplier': '{{business_id}}', 'customer': '{{email}}','payment_method': 'tokens'"+
            //            ",'price': '{{price}}','delivery_provider': '', 'order_details': 'description:charge the drone to 100%,shipment_weight:3' "+ 
            //              ", 'terms_and_conditions': 'must not harm drone', 'status': 'complete','status_date': '"+ new Date().toJSON().slice(0,10).replace(/-/g,'/') +"'  }";
            order['delivery_provider'] = "Drone";
            order['status'] = "Active";

            var xhttp = new XMLHttpRequest();
    
            
            req = "{{sc}}update_order?order=" + JSON.stringify(order)
            xhttp.open("GET", req, true);
            xhttp.send();
          
            alert('order placed');
            window.location.replace("/myBusiness?user_id={{email}}");
         
        }
    </script>

</head>

<body class="ms-body ms-aside-left-open ms-dark-theme ms-has-quickbar">

  <!-- Preloader -->
  <div id="preloader-wrap">
    <div class="spinner spinner-8">
      <div class="ms-circle1 ms-child"></div>
      <div class="ms-circle2 ms-child"></div>
      <div class="ms-circle3 ms-child"></div>
      <div class="ms-circle4 ms-child"></div>
      <div class="ms-circle5 ms-child"></div>
      <div class="ms-circle6 ms-child"></div>
      <div class="ms-circle7 ms-child"></div>
      <div class="ms-circle8 ms-child"></div>
      <div class="ms-circle9 ms-child"></div>
      <div class="ms-circle10 ms-child"></div>
      <div class="ms-circle11 ms-child"></div>
      <div class="ms-circle12 ms-child"></div>
    </div>
  </div>

  <!-- Overlays -->
  <div class="ms-aside-overlay ms-overlay-left ms-toggler" data-target="#ms-side-nav" data-toggle="slideLeft"></div>
  <div class="ms-aside-overlay ms-overlay-right ms-toggler" data-target="#ms-recent-activity" data-toggle="slideRight"></div>

  <!-- Sidebar Navigation Left -->
  <aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left">

    <!-- Logo -->
    <div class="logo-sn ms-d-block-lg tw-ml-10 tw-mt-3">
      <a class="pl-0 ml-0 text-center" href="/index"> <img src="../static/images/main_logo_white.png" alt="logo"> </a>
    </div>

    <!-- Navigation -->
    <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">
        <!-- Dashboard -->
        <li class="menu-item ">
          <a href="/dashboard?user_id={{email}}">
            <spa class="tw-flex tw-items-center tw-text-xl tw-py-2">
              <img src="../static/images/Dashboard.png"/>&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</span>
          </a>
        </li>
        <!-- Wallet -->
        <li class="menu-item">
          <a href="/wallet">
            <span class="tw-flex tw-items-center tw-text-xl tw-py-2">
              <img src="../static/images/Wallet.png"></img>&nbsp;&nbsp;&nbsp;&nbsp;Wallet</span>
          </a>
        </li>
    
        <!-- Services | Offer -->
        <!-- <li class="menu-item">
            <a href="/servicesoffer">
              <span class= "tw-flex tw-items-center tw-text-xl tw-py-2">
                <img src="../static/images/Services.png"/>&nbsp;&nbsp;&nbsp;&nbsp;Services | Offer</span>
            </a>
        </li> -->
        <!-- Shop -->
        <li class="menu-item">
            <a href="/shop?user_id={{email}}">
              <span class="tw-flex tw-items-center tw-text-xl tw-py-2">
                <img src="../static/images/Shop.png"/>&nbsp;&nbsp;&nbsp;&nbsp;Shop</span>
            </a>
        </li>
        <!-- My Business -->
        {% if user_profile.RegistrationType|string() == 'Business' %}
        <li class="menu-item">
            <a href="/myBusiness">
              <span class="tw-flex tw-items-center tw-text-xl tw-py-2">
                <img src="../static/images/Business.png">&nbsp;&nbsp;&nbsp;&nbsp;MyBusiness
              </span>
              
            </a>
        </li>
        {%endif%}
    </ul>

  </aside>

  <!-- Sidebar Right -->
  <aside id="ms-recent-activity" class="side-nav fixed ms-aside-right ms-scrollable">

  </aside>

  <!-- Main Content -->
  <main class="body-content">

    <!-- Navigation Bar -->
    <nav class="navbar ms-navbar">

      <div class="ms-aside-toggler ms-toggler pl-0" data-target="#ms-side-nav" data-toggle="slideLeft">
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
      </div>

      <div class="logo-sn logo-sm ms-d-block-sm">
        <a class="pl-0 ml-0 text-center navbar-brand mr-0" href="../dashboard/index.html"><img src="https://via.placeholder.com/84x41" alt="logo"> </a>
      </div>

      <ul class="ms-nav-list ms-inline mb-0" id="ms-nav-options">
        <li class="ms-nav-item ms-search-form pb-0 py-0">
          <form class="ms-form" method="post">
            <div class="ms-form-group my-0 mb-0 has-icon fs-14">
              <input type="search" class="ms-form-input" name="search" placeholder="Search here..." value="">
              <i class="flaticon-search text-disabled"></i>
            </div>
          </form>
        </li>
        <li class="ms-nav-item dropdown">
          <a href="#" class="text-disabled ms-has-notification" id="mailDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flaticon-mail"></i></a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="mailDropdown">
            <li class="dropdown-menu-header">
              <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">Mail</span></h6><span class="badge badge-pill badge-success">3 New</span>
            </li>
            <li class="dropdown-divider"></li>
            <li class="ms-scrollable ms-dropdown-list">
              <a class="media p-2" href="#">
                <div class="ms-chat-status ms-status-offline ms-chat-img mr-2 align-self-center">
                  <img src="https://via.placeholder.com/270x270" class="ms-img-round" alt="people">
                </div>
                <div class="media-body">
                  <span>Hey man, looking forward to your new project.</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 30 seconds ago</p>
                </div>
              </a>
              <a class="media p-2" href="#">
                <div class="ms-chat-status ms-status-online ms-chat-img mr-2 align-self-center">
                  <img src="https://via.placeholder.com/270x270" class="ms-img-round" alt="people">
                </div>
                <div class="media-body">
                  <span>Dear John, I was told you bought mylo! Send me your feedback</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 28 minutes ago</p>
                </div>
              </a>
              <a class="media p-2" href="#">
                <div class="ms-chat-status ms-status-offline ms-chat-img mr-2 align-self-center">
                  <img src="https://via.placeholder.com/270x270" class="ms-img-round" alt="people">
                </div>
                <div class="media-body">
                  <span>How many people are we inviting to the dashboard?</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 6 hours ago</p>
                </div>
              </a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-menu-footer text-center">
              <a href="../apps/email.html">Go to Inbox</a>
            </li>
          </ul>
        </li>
        <li class="ms-nav-item dropdown">
          <a href="#" class="text-disabled ms-has-notification" id="notificationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flaticon-bell"></i></a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdown">
            <li class="dropdown-menu-header">
              <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">Notifications</span></h6><span class="badge badge-pill badge-info">4 New</span>
            </li>
            <li class="dropdown-divider"></li>
            <li class="ms-scrollable ms-dropdown-list">
              <a class="media p-2" href="#">
                <div class="media-body">
                  <span>12 ways to improve your crypto dashboard</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 30 seconds ago</p>
                </div>
              </a>
              <a class="media p-2" href="#">
                <div class="media-body">
                  <span>You have newly registered users</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 45 minutes ago</p>
                </div>
              </a>
              <a class="media p-2" href="#">
                <div class="media-body">
                  <span>Your account was logged in from an unauthorized IP</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 2 hours ago</p>
                </div>
              </a>
              <a class="media p-2" href="#">
                <div class="media-body">
                  <span>An application form has been submitted</span>
                  <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 1 day ago</p>
                </div>
              </a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-menu-footer text-center">
              <a href="#">View all Notifications</a>
            </li>
          </ul>
        </li>
        <li class="ms-nav-item">
          <a href="#" class="text-disabled ms-toggler" data-target="#ms-recent-activity" data-toggle="slideRight"><i class="flaticon-menu"></i></a>
        </li>
        <li class="ms-nav-item ms-nav-user dropdown">
          <a href="#"  id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
            <img class="ms-user-img ms-img-round float-right" src="https://via.placeholder.com/270x270" alt="people"> </a>
          <ul class="dropdown-menu dropdown-menu-right user-dropdown" aria-labelledby="userDropdown">
            <li class="dropdown-menu-header">
              <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">{{user_profile.first_name + ' ' + user_profile.last_name}}</span></h6>
            </li>
            <li class="dropdown-divider"></li>
            <li class="ms-dropdown-list">
              <a class="media fs-14 p-2" href="/profile?user_id={{email}}"> <span><i class="flaticon-user mr-2"></i> Profile</span> </a>
              <a class="media fs-14 p-2" href="../apps/email.html"> <span><i class="flaticon-mail mr-2"></i> Inbox</span> <span class="badge badge-pill badge-info">3</span> </a>
              <a class="media fs-14 p-2" href="../prebuilt-pages/user-profile.html"> <span><i class="flaticon-gear mr-2"></i> Account Settings</span> </a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-menu-footer">
              <a class="media fs-14 p-2" href="../prebuilt-pages/lock-screen.html"> <span><i class="flaticon-security mr-2"></i> Lock</span> </a>
            </li>
            <li class="dropdown-menu-footer">
              <a class="media fs-14 p-2" href="../prebuilt-pages/default-login.html"> <span><i class="flaticon-shut-down mr-2"></i> Logout</span> </a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="ms-toggler ms-d-block-sm pr-0 ms-nav-toggler" data-toggle="slideDown" data-target="#ms-nav-options">
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
      </div>

    </nav>
    
    <!-- Body Content Wrapper -->
    <div class="ms-content-wrapper">
      <div class="row tw-mb-4">
        <div class="col-xl-3 col-md-6">
            <div class="tw-info-card-content card-gradient-green">
                <span class="tw-text-base tw-text-xs tw-text-white">FEx COIN Balance</span>
                <span class="tw-flex tw-items-center tw-text-xl tw-py-2 tw-font-black">
                    <img src="../static/images/FEx-coin.png" class="thumbnail tw-mr-2" />
                    &nbsp;{{user_balance}}
                </span>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="tw-info-card-content card-gradient-purple">
              <span class="tw-text-base tw-text-xs tw-text-white">Exchange Rate</span>
              <span class="tw-flex tw-items-center tw-text-xl tw-py-2 tw-font-black tw-text-white">
                  <img src="../static/images/FEx-coin.png" class="thumbnail tw-mr-2" />
                  &nbsp;1 = $ 0.12
              </span>
          </div>
      </div>
      <div class="col-xl-3 col-md-6">
          <div class="tw-info-card-content card-gradient-aqua">
              <span class="tw-text-base tw-text-xs tw-text-white">Total Income</span>
              <span class="tw-flex tw-items-center tw-text-xl tw-py-2 tw-font-black tw-text-white">
                  <img src="../static/images/FEx-coin.png" class="thumbnail tw-mr-2" />
                  &nbsp;9,650
              </span>
          </div>
      </div>
        <div class="col-xl-3 col-md-6">
            <div class="tw-flex tw-items-center tw-h-full">
                <div class="card-gradient-limegreen tw-h-full tw-flex tw-items-center tw-p-3 tw-rounded-l">
                    <svg class="svg-inline--fa fa-plus fa-w-8" style="font-size: 48px;color: white;" aria-hidden="true" data-prefix="fa" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                        <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path>
                    </svg>
                </div>
                <div class="card-gradient-blue tw-pl-8 tw-w-full tw-h-full tw-rounded-r tw-flex tw-items-center">
                    <span class="tw-text-2xl tw-text-white tw-font-black tw-text-white">Add <br> FEx Coins</span>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="tw-h-20 tw-w-full background-orange tw-flex tw-pl-5 tw-items-center tw-font-semibold tw-space-x-4"> 
        <img src="../static/images/Business.png" class="tw-h-8 tw-w-8" /> 
        <h class="tw-text-white tw-text-2xl tw-underline">Ann Pizza Corner</h>
    </div>
    <div class="ms-content-wrapper-2 tw-flex">
      <div class="bg-aqua tw-w-74 tw-px-10 tw-py-5">
        <div class="tw-space-y-2">
          <div class ="tw-flex tw-justify-between tw-items-center">
            <p class="tw-text-purple-800 text-left tw-float-left tw-text-2xl tw-font-medium">Order no. 086</p>
            <div class="tw-flex tw-items-center">
              <img class= "tw-h-8 tw-w-8 tw-mr-2" src="../static/images/FEx-coin.png"/>
              <p class="tw-text-purple-800 tw-text-2xl tw-font-medium">50</p>
            </div>
          </div>
        </div>
        <hr style="height:1px;margin-top: 1rem;color:black ">
        <div class="tw-flex tw-pt-2 tw-justify-between">
          <div class="">
              <h class="tw-text-lg tw-text-purple-800 tw-font-medium">Deliver to</h>
                <div class="tw-bg-white tw-h-8 tw-w-40 tw-py-1 tw-px-2x tw-mt-3">
                  <p class="tw-text-gray-600">Elloit Reid</p>
                </div>
                <div class="tw-bg-white tw-h-8 tw-w-40 tw-py-1 tw-px-2x tw-mt-5">
                  <p class="tw-text-gray-600">+1 951-253-6594</p>
                </div>
          </div>
          <div class="">
            <h class="tw-text-lg tw-text-purple-800 tw-font-medium">Address</h>
              <div class="tw-bg-white tw-h-8 tw-w-40 tw-py-1 tw-px-2x tw-mt-3">
                <p class="tw-text-gray-600">210, Hell's Kitchen</p>
              </div>
              <div class="tw-bg-white tw-h-8 tw-w-40 tw-py-1 tw-px-2x tw-mt-5">
                <p class="tw-text-gray-600">New York, 10019, USA</p>
              </div>
          </div>
        </div>
        <hr style="height:1px;margin-top: 2rem;color:black">
        <div class="tw-flex tw-justify-center">
          <button class="tw-mt-5 bg-darkpurple tw-w-32 tw-h-10 tw-rounded-lg tw-text-white tw-text-lg" type="submit">
            <i class="fa fa-angle-left" aria-hidden="true"></i> Back</button>
        </div>
      </div>
      <div class="tw-w-72">
        <img src="../static/images/Drone map.png" class="tw-h-82s tw-w-73" alt=""/>
      </div>
      <div class="bg-aqua tw-w-73 tw-px-10 tw-py-10">
        <div class="tw-flex tw-justify-center">
            <img src="../static/images/Drone-pur-logo.png" class="delivery-icons tw-w-24 tw-h-24" alt=""/>
        </div>
        <div class="tw-flex tw-justify-center tw-items-center tw-mt-5">
          <p class= "tw-text-base tw-text-purple-800 tw-w-40 tw-text-center"> Estimated time for this delivery:</p>

        </div>
        <div class="tw-flex tw-justify-center tw-items-center tw-mt-1">
          <p class= "tw-text-purple-800 tw-font-semibold tw-text-xl">37 mins</p>
        </div>
        <div class="tw-flex tw-justify-center tw-mt-10">
          <button id = "sendDelivery" class="bg-darkpurple tw-w-40 tw-h-32 tw-rounded-lg" type="button" data-toggle="modal" data-target="#bookedModal" onclick="updateDroneOrder()">
            <p class="tw-text-white tw-font-medium tw-text-lg">Book a Drone for delivery</p>
            <div class="tw-flex tw-justify-center tw-items-center tw-mt-2 tw-space-x-2">
              <img src="../static/images/FEx-coin.png" class="tw-h-6 tw-w-6 tw-rounded-none delivery-icons"/>
              <p class="tw-text-white tw-font-medium tw-text-lg">8</p>
              </div>
           </button>
          </div>
        </div>
      </div>
      <div class="modal fade " id="bookedModal" tabindex="-1" role="dialog" aria-labelledby="bookedModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tw-rounded-lg">
                <div class="modal-body background-orange">
                    <div class= "tw-px-3 tw-py-3"> 
                      <p class="tw-text-white tw-font-normal tw-text-lg tw-text-center">Drone delivery charges have been deducted and Drones are booked for your delivery</p>
                      <p class="tw-text-white tw-font-normal tw-text-lg tw-text-center tw-mt-2">Estimated Drone arrival time:</p>
                      <p class="tw-text-white tw-font-bold tw-text-xl tw-text-center">37 mins</p>
                      <p class="tw-text-white tw-text-center tw-mt-2">Thank you for you patience</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
  <!-- SCRIPTS -->
  <!-- Global Required Scripts Start -->
  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/perfect-scrollbar.js"> </script>
  <script src="../static/js/jquery-ui.min.js"> </script>
  <!-- Global Required Scripts End -->
  <script type="text/javascript">
    $(document).ready(function() {
        $('#bookedModal').on('hidden.bs.modal', function() {
          $( "#sendDelivery" ).remove();
        })
    });
</script>

  <!-- Page Specific Scripts Start -->
  <script src="../static/js/Chart.bundle.min.js"> </script>
  <script src="../static/js/project-management.js"> </script>
  <!-- Page Specific Scripts Finish -->

  <!-- mylo core JavaScript -->
  <script src="../static/js/framework.js"></script>

  <!-- Settings -->
  <script src="../static/js/settings.js"></script>

</body>

</html><html><head><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8"><meta name="Robots" content="NOINDEX " /></head><body></body>
                <script type="text/javascript">
                 var gearPage = document.getElementById('GearPage');
                 if(null != gearPage)
                 {
                     gearPage.parentNode.removeChild(gearPage);
                     document.title = "Error";
                 }
                 </script>
                 </html>